body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

nav,.card{
    margin-bottom: 15px;
}

.card-img{
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-img{
    margin-bottom: 10px;
}

.card-img__max{
    height: 500px;
}


.card,.col-6, .row,.btn{
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 50vw;
}

.card-btn,.card {
    display: flex;
}

.card-btn a{
    margin-right: 10px;
}